.navbar {
    width: 100%;
    max-width: 400px;
    background-color: #424549;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 10px;
}

.navbar-menu {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
}

.navbar-menu a {
    text-decoration: none;
    color: #b3b4b6;
    font-size: .9rem;
}

/* Just a hover decoration for navigation menu's*/
.library, .Reviewer, .Ranking, .Setting{
    position: relative;
    padding: 5px;
    
}

.library:hover, .Reviewer:hover, .Ranking:hover, .Setting:hover{
    color: white;   
}

.library::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: white;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.Reviewer::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: white;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.Ranking::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: white;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.Setting::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: white;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.library:hover::after {
    color: white;
    width: 60px;
}

.Reviewer:hover::after {
    color: white;
    width: 75px;
}

.Ranking:hover::after {
    color: white;
    width: 70px;
}

.Setting:hover::after {
    color: white;
    width: 60px;
}

/* for smaller screen */
@media screen and (max-width: 900px) {
    .navbar {
        width: 100%;
        height: auto;
        max-width: 700px;
        margin: 5px auto;
    }

    .navbar-menu {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        width: 100%;
        height: auto;
        max-width: 700px;
        border-radius: 0px;
        margin: 0;
        margin-bottom: 5px;
    }

    .navbar-menu {
        width: 100%;
    }
}