.timer-container {
    flex: 1;
    width: 100%;
    height: 100vh;
    max-width: 400px;
    max-height: 290px;
    background-color: #424549;
    border-radius: 10px;
    margin: 10px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    gap: 0px;
}

.timer-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.timer h1 {
    font-size: 7rem;
    font-weight: 400;
    color: white;
}

.timer-menu li button {
    font-size: 1rem;
    padding: 5px 10px;
    color: white;
    background-color: transparent;
}

.timer-menu li button:hover {
    cursor: pointer;
}

.timer-menu li button.active {
    background-color: #C63C51;
    color: #FAF7F0;
}


.start-button {
    font-size: 1.3rem;
    padding: 10px 50px;
    font-weight: 500;
}

.start-button:hover {
    outline: none;
    background-color: #AA4A44;
    color: #FAF7F0;
}

/*For different colors*/
.red {
    background-color: #C63C51;
}

.green {
    background-color: #50C878;
}

.blue {
    background-color: #6CB4EE;
}

@media screen and (max-width: 900px) {
    .timer-container {
        width: 100%;
        max-width: 700px;
        height: auto;
        margin: 5px auto;
    }
}

@media screen and (max-width: 550px) {
    .timer-container {
        width: 100%;
        max-width: 700px;
        height: auto;
        margin: 5px auto;
        border-radius: 0px;
    }

    .timer-menu li button {
        font-size: 0.97rem;
    }

    .timer h1 {
        font-size: 6rem;
    }
}

